body {
  padding: 1rem;
  font-family: Helvetica, sans-serif;
}

.label {
  font-weight: bold;
  margin: 1rem 0;
}

#userCode {
  padding: 1rem;
  font-family: monospace;
  background-color: black;
  color: greenyellow;
  font-size: 1.4rem;
  width: 100%;
  height: 10rem;
}

#launchScript {
  background-color: greenyellow;
  border: 0;
  margin: 0.625rem 0;
  padding: 0.625rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

#board {
  margin-top: 1rem;
  display: inline-block;
  background-color: black;
  border: 1px solid black;
}

.cellRow {
  display: flex;
}

.cell {
  background-color: lightgrey;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.8em;
  margin: 1px;
}

.cellStart {
  background-color: rgb(97, 207, 87);
}

.cellStart::after {
  content: 'START';
  color: rgb(3, 83, 3);
}

.cellEnd {
  background-color: rgb(98, 148, 255);
}

.cellEnd::after {
  content: 'END';
  color: rgb(33, 2, 146);
}

.cellCurrent::after {
  content: '\27A4';
  color: rgb(0, 114, 9);
}

.cellCurrent-top {
  transform: rotate(-90deg);
}

.cellCurrent-bottom {
  transform: rotate(90deg);
}

.cellCurrent-left {
  transform: rotate(180deg);
}

.cellCurrent-right {
  transform: rotate(0deg);
}